<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>People that work!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .container {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
    </style>
</head>



<body>
    <div class="parent-container">
        <div class="box">
            <h2 class="header"></h2>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-center">
                            <div class="card-header">
                                Welcome To.....
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">People That Work!</h5>
                                <p class="card-text">The Dream Team</p>
                            </div>

                            <div class="card-footer">
                                <a href="#"></a>
                                <a href="#"></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parent-container2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    name
                                </div>
                                <div class="card-header2">
                                    title
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">id</li>
                                    <li class="list-group-item">name</li>
                                    <li class="list-group-item">office number</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>




</body>

</html>